body{
    margin: 0;
}
.Main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, orange, red);
    position: relative;
}

.One{
    width: 35vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 5vw;
}

img{
    width: 35vw;
    height: 80vh;
    border-radius: 30px;
}

.Two{
    width: 35vw;
    height: 60vh;
    background-color: white;
    position: absolute;
    top: 20vh;
    right: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    border-radius: 40px;
}

.Two form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 20vw;
    height: 2vh;
}

button{
    width: 12vw;
    height: 30px;
    background-color: dodgerblue;
    font-size: large;
    color: white;
    border-radius: 10px;
    
}

::placeholder{
    color: black;
    font-size: large;
    padding-left: 30px;
}

h1{
    color: cornflowerblue;
}