.Main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: relative;
}

.Box{
    width: 20vw;
    height: 30vh;
    font-size: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
    transition: all 3s ease-in-out;
    font-weight: bold;
}


.Sub1{
    background-color: red;
    position: absolute;
    top: 30vh;
    left: 4vw;
}

.Sub2{
    background-color: green;
    position: absolute;
    top: 30vh;
    left: 28vw;
}

.Sub3{
    background-color: rgb(14, 131, 199);
    position: absolute;
    top: 30vh;
    right: 28vw;
}

.Sub4{
    background-color: yellow;
    position: absolute;
    top: 30vh;
    right: 4vw;
}

.Main:hover .Sub1{
    border: 10px solid red;
    background-color: white;
    color: red;
    top: 35vh;
    transform: rotate(25deg);
}

.Main:hover .Sub2{
    border: 10px solid green;
    background-color: white;
    color: green;
    top: 30vh;
    transform: rotate(25deg);
}

.Main:hover .Sub3{
    border: 10px solid rgb(14, 131, 199);
    background-color: white;
    color: rgb(14, 131, 199);
    top: 35vh;
    transform: rotate(25deg);
}

.Main:hover .Sub4{
    border: 10px solid yellow;
    background-color: white;
    color: yellow;
    top: 30vh;
    transform: rotate(25deg);
}

.Main2{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.Sub5{
    position: sticky;
    top: 5vh;
}

#image1{
    width: 5%;
    height: 50px;

}