body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.Main1{
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: grey
}
.Main2{
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: rgb(173, 23, 23);
}
.Main3{
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: gray;
}
.Main11{
    margin: 0px;
}
.Main11 h1{
    position: absolute;
    left: 20vw;
    color: aliceblue;
    text-shadow: 5px 5px 5px black;
    transition: transform(-50%,-50%);
}
.Main21{
    margin: 0px;
    position: absolute;
    left: 100px;
    top: 200px;
    font-size: x-large;
    color: aliceblue;
}
#ig1{
    position: absolute;
    width: 100%;
    height: 100%;
}
.Main22{
    position: absolute;
    top: 55vh;
    left: 10vw;
}
button{
    width: 120px;
    height: 40px;
    background-color:darksalmon;
    font-size: large;
}

    

#ig2{
    position:absolute;
    height: 40vh;
    right: 30vw;
    top: 20vh;
    border-radius: 60px;
}

.Main24{
    position: absolute;
    height: 40vh;
    right: 30vw;
    top: 60vh;
    color: white;
    display: none;
}
.Main25{
    position: absolute;
    height: 40vh;
    right: 40vw;
    top: 10vh;
    display: none;
    color: azure;
    border-style: double;
    border-color: white;
    border-width: 10px;
    border-radius: 10px;
    padding: 20px;
}
.Main25 input{
    width: 15vw;
    height: 3vh;
    border-radius: 5px;
 }
html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
